<% include ../partials/header %>

<div class="container">
    <div class="row">
        <h1>Profile Setup</h1>
            <div>
                 <form action="/profiles/<%= currentUser.id %>" method="POST">
                    <div class="form-group">
                        <p>Full Name:</p>
                        <input class="form-control" type="text" name="name" placeholder="Name" required>
                    </div>
                    <div class="form-group">
                        <p>Contact number:</p>
                        <input class="form-control" type="text" name="contact" placeholder="Contact number with country code" required>
                    </div>
                    <div class="form-group">
                        <p>Date of Birth: </p>
                        <input class="form-control" type="text" name="dob" placeholder="Date of Birth" required>
                    </div>
                    <div class="form-group">
                        <p>Please state your current occupation:</p>
                        <input class="form-control" type="text" name="occupation" placeholder="Occupation" required>
                    </div>
                    <div class="form-group">
                        <p>Please attach your profile image url:</p>
                        <input class="form-control" type="text" name="image" placeholder="Image" required>
                    </div>
                     <div class="form-group">
                        <p>Country of Residence:</p>
                            <input class="form-control" type="text" name="country" placeholder="country" required>
                    </div>
                    <div class="form-group">
                        <p>Address:</p>
                        <input class="form-control" type="text" name="address" placeholder="Address" required>
                        <!--google maps perharps-->
                    </div>
                    <div class="form-group">
                        <p>I usually require these currencies:</p>
                            <input class="form-control" type="text" name="currency" placeholder="Currency" required>
                    </div>
                    <div class="form-group">
                        <input class="btn btn-small btn-success"type="submit">
                    </div>
            </form>
            <a href="/trades">View all requests</a>
    </div>
</div>

<% include ../partials/footer %>